*pyc
.cache/
.DS_Store
tests/__pycache__
examples/__pycache__
moldscript.egg-info/
dist/
build/
.vscode/
.pytest_cache/
*.csv
*.json
*.json*
*.dat
*.Identifier
tests/*/*.dat
tests/*/*.csv
examples/*/*.dat
examples/*/*.csv
docs/_build/