*.pyc
.cache/
.DS_Store
dftdescp.egg-info/
dist/
build/
.vscode/
.pytest_cache/
DFTDESCP*
*.csv
tests/gaussian/QCALC/success/QPREP_data.dat
tests/gaussian/QCALC/success/QCALC/Ac2_rdkit_conf_1_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac2_rdkit_conf_3_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac2_rdkit_conf_4_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac3_rdkit_conf_1_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac4_rdkit_conf_1_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac4_rdkit_conf_2_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac4_rdkit_conf_3_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac5_rdkit_conf_1_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac5_rdkit_conf_2_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac5_rdkit_conf_3_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac7_rdkit_conf_1_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac7_rdkit_conf_2_qzvpp.com
tests/gaussian/QCALC/success/QCALC/Ac7_rdkit_conf_3_qzvpp.com
tests/gaussian/spc/Ac2_rdkit_conf_1_qzvpp.com
tests/gaussian/spc/Ac2_rdkit_conf_3_qzvpp.com
tests/gaussian/spc/Ac2_rdkit_conf_4_qzvpp.com
tests/gaussian/spc/Ac3_rdkit_conf_1_qzvpp.com
tests/gaussian/spc/Ac4_rdkit_conf_1_qzvpp.com
tests/gaussian/spc/Ac4_rdkit_conf_2_qzvpp.com
tests/gaussian/spc/Ac4_rdkit_conf_3_qzvpp.com
tests/gaussian/spc/Ac5_rdkit_conf_1_qzvpp.com
tests/gaussian/spc/Ac5_rdkit_conf_2_qzvpp.com
tests/gaussian/spc/Ac5_rdkit_conf_3_qzvpp.com
tests/gaussian/spc/Ac7_rdkit_conf_1_qzvpp.com
tests/gaussian/spc/Ac7_rdkit_conf_2_qzvpp.com
tests/gaussian/spc/Ac7_rdkit_conf_3_qzvpp.com
